.row {
  padding-top: 2%;
}

.column {
  float: center;
  width: 50%;
  text-align: center;
}

.column img {
padding-top: 2%;
 width: 300px;
 height: 310px;
 border-radius: 3%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
