.half-left {
  padding: 2%;
}

.half-left img {
  width: 400px;
  height: 480px;
  border-radius: 2%;
}

.half-right {

}

.about {
display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 5%;
}

.about-title h2 {
font-family: "Courier New";
text-align: center;
}
