.homepage {
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;

}// Specific CSS for your home-page

.box h1 {
text-align: center;
font-family: "Courier New";
}

.box p {
  margin-top: 2%
}

.box {
  background: white;
  padding: 2%;
  margin-top: 2%;
  border-radius: 25px;
  box-shadow: 10px 10px 8px #888888;
}

.container {
margin-top: 2%;
margin-bottom: 2%;
display: grid;
grid-gap: 1%;
grid-template-columns: 1fr 1fr 1fr
}

a {
  color: white;
}

.new {
  border-radius: 25px;
  background-color:   #3399FF;
  font-weight: bold;
}
