<div class="footer">
  <div class="footer-left">
    © White Down Accounting 2020
  </div>

  <div class="footer-middle">
    <%= link_to "Disclaimer", "/disclaimer"%>
    <%= link_to "Equal Opportunities", "/equal" %>
    <%= link_to "Privacy Statement", "/privacy" %>
  </div>

  <div class="footer-right">
    <a href="https://www.linkedin.com/in/matthew-p-89347934/" target="_blank" >  Join us: <i class="fab fa-linkedin"></i></a>
  </div>
</div>
