<div class="homepage">

  <div class="about-title" style="padding-top: 20px; text-align: center;">
    <h2> Contact White Down Accounting </h2>
  </div>

  <div class="box">
    Address: Flat 1 East Court, 9A Doran Drive, Redhill, RH1 6AX
    <br>
    <br>
    Phone: 07710 520 141
  </div>

  <div class="box">
    <div id="contact">
        <%= render 'contact_form' %>
    </div>
  </div>

</div>

