<div class="homepage">
  <div class="about-title">
  <h2> White Down Accounting</h2>
  </div>

  <div class="box">
        <p> White Down accounting was founded by Matthew Poulter a chartered accountant and member of ICAEW. </p>
        <p> Matthew trained with Deloitte within their audit division in both the UK and Australia with a broad client portfolio including FTSE listed, PE and VC backed and high net worth individuals across a multitude of industries including pharmaceutical, travel, real estate and media.</p>
        <p> Subsequent to leaving Deloitte as an audit manager, Matthew took up senior reporting positions at a prestigious sporting organisation and FTSE listed leisure chain. </p>
  </div>
</div>
