<div class="homepage">

<div class=about-title>
  <h2> Enquiry Form </h2>
</div>

<div class="box">
</div>

<div class="about-title" style="padding-top: 20px;">
  <h2> How to Contact White Down Accounting </h2>
</div>

  <div class="box">
    <p> Address: 8 Dolphin Close, Dolphin Court, Surbition, KT6 4DZ</p>
    <p> Email: whitedownas@gmail.com </p>
    <p> Telephone: 07710 52 01 41 </p>
    <a href="https://www.linkedin.com/in/matthew-p-89347934/" target="_blank" > <i class="fab fa-linkedin fa-2x"></i></a>
  </div>
</div>
