<div class="homepage">
  <div class="about-title">
  <h2> Disclaimer </h2>
  </div>

  <div class="box">
    <p> White Down Accounting and its directors, officers and employees shall not be responsible and disclaims all liability for any loss, damage (whether direct, indirect, special or consequential) and/or expense of any nature whatsoever, which may be suffered as a result of or which may be attributable, directly or indirectly, to the use of, or reliance upon any information, links or service provided through this website and the newsletter (together hereinafter referred to as “the Platform”). </p>
    <p> Without limiting the generality of the aforesaid, the information provided on this Platform is intended to provide you, the user, with objective information about financial matters, products and services and is not intended to constitute a recommendation, guidance or proposal as regards the suitability of any product in respect of any financial need you may have. Calculations made/obtained by means of the calculators, planning tools or other facilities made available on this Platform are for illustrative purposes only. </p>
    <p> While every effort has been made to ensure the accuracy of information contained on this Platform, White Down Accounting and its directors, officers and employees provide no representation or warranty, express or implied, regarding the accuracy, completeness or correctness of information contained in the Platform and you agree to indemnify White Down Accounting and keep White Down Acounting indemnified against all costs, expenses, claims, losses, liabilities or proceedings arising from the use or misuse by you of this Platform. </p>
  </div>
</div>
