<div class="equal">
  <div class="homepage">
    <div class="about-title">
    <h2> Equal Opportunities & Diversity </h2>
    </div>

    <div class="box">
          <p>White Down Accounting is an equal opportunities employer. As such, we aspire to reflect our diversity values in our internal recruitment procedures as well as our work ethics as a recruitment agency. We are committed to a policy of equal opportunities for all and shall adhere to such a policy at all times. </p>

          <p> In accordance with existing as well as imminent equal opportunities (subordinate) legislation, including but not limited to the Race Relations Act 1976 (as amended), the Sex Discrimination Act 1975 (as amended), and the Disability Discrimination Act 1995 (as amended). White Down Accounting treats everyone equally irrespective of sex, sexual orientation, marital status, age, disability, race, colour, religion, ethnic or national origin, membership or non-membership of a trade union, working hours or whether on a fixed term or permanent contract. Moreover, White Down Accounting reviews, on an on-going basis, all aspects of recruitment to avoid unlawful or undesirable discrimination or harassment on those grounds. </p>

          <p> White Down Accounting is committed to providing equal opportunities training for staff through corporate membership of the Recruitment and Employment Confederation (REC). The REC, as the governing body for the Recruitment Industry, ensures that corporate members and their staff meet current equal opportunities standards. Our staff are obliged to respect and act in accordance with this policy. </p>

          <p> White Down Accounting is committed to treating all full-time and part-time workers and job applicants (actual and potential) fairly and selection of employment, promotion, training or any other benefit will be based on relevant merits, aptitude and ability. In addition, White Down Accounting does not directly or indirectly discriminate when deciding which candidates are submitted for a vacancy or assignment or in any terms of employment or engagement. White Down Accounting ensures that each candidate is assessed solely in accordance with the candidate’s merits, qualifications and abilities to perform the relevant duties required by the particular vacancy. </p>

          <p> Furthermore, White Down Accounting will not accept instructions from clients that indicate that an element of unlawful discrimination or harassment will be brought to fruition unless there are genuine occupational requirements or other legislative exceptions detailed in the instructions. It is our intention to work with organisations that have a similar equal opportunities policy to White Down Accounting. </p>

          <p> Workers who believe they have suffered any form of discrimination, harassment or victimisation are encouraged to raise the matter with White Down Accounting. Any complaint will be dealt with seriously and without undue delay. </p>

          <p> Any breach of this policy by employees of White Down Accounting will be treated as misconduct, or in the case of serious breaches, gross misconduct. Where appropriate, disciplinary action will be taken, which could in serious cases, lead to dismissal with or without notice or payment in lieu of notice. In addition, individuals can be held personally liable for acts of discrimination/ harassment that they commit, authorise, contribute to or condone. </p>

          <p> This policy is not contractual but is a statement of the current White Down Accounting policy. White Down Accounting reserves the right to amend the policy as necessary to meet any change in requirements. </p>
    </div>
  </div>
</div>
