<div class="homepage">
  <div class="box">
    <h1> White Down Accounting</h1>
    <p> White Down Accounting aim is to work with businesses to reduce the burden the annual financial reporting and audit process bring.
    We can also assist businesses in identifying areas of control improvements within the financial reporting process and to provide some short term, part time temporary relief to stretched finance teams.
    </p>
  </div>
  <div class="box">
  <h1> What we do </h1>
  <p> Whilst we offer a broad range of accounting solutions competitively priced, our core services include: </p>
  <br>
  <ul>
    <li> Accounting support  </li>
    <li> Audit and financial reporting advisory  </li>
    <li> Financial process and control review  </li>
    <li> Financial reporting design and building  </li>
    <li> IFRS 16 “Leases” implementation guidance  </li>
  </ul>

  </div>

  <div class="box">
    <div>

    </div>
  </div>


</div>



