<h1> White Down Accounting </h1>

<h2> WHO WE ARE </h2>

<p> White Down Accounting aim is to work with businesses to reduce the burden the annual financial reporting and audit process bring. </p>
<br>
<p> We can also assist businesses in identifying areas of control improvements within the financial reporting process and to provide some short term, part time temporary relief to stretched finance teams. </p>
<br>
<h2> WHAT WE DO </h2>

<h3> Whilst we offer a broad range of accounting solutions competitively priced, our core services include: </h3>

<li> Accounting support </li>
<li> Audit and financial reporting advisory </li>
<li> Financial process and control review </li>
<li> Financial reporting design and building </li>
<li> IFRS 16 “Leases” implementation guidance </li>


