<div class="homepage">
  <div class="about-title">
  <h2> Privacy Statement </h2>
  </div>

  <div class="box">
    Your Privacy and Partner Financial Limited
Partner Financial Limited strongly believes in the importance of keeping the personal information of our candidates private. We will never use your information for any use beyond that stated or the permissions you give us.

What sort of data is collected?
We collect personal data about you to help in the recruitment process. This data consists of information such as your name, address, e-mail address, and work and education history, plus your nationality, which we are required to collect by law.

Personal information provided by you is retained as long as the purpose for which the data was collected continues. It is then archived or destroyed unless its retention is required to satisfy audit, legal, regulatory or accounting requirements or to protect Partner Financial Limited interests. Partner Financial Limited will not sell, trade or rent your personal information to others unless you have given us your permission.

Partner Financial Limited is registered as a data controller with the office of the Information Commissioner. This requires us to follow the Data Protection Act 1998. The 1998 Act provides for the regulation of the processing of information relating to individuals who are the subjects of personal data. “Personal data” includes all data, which relates to a living individual who can be identified from the data and which includes any expression of opinion about the individual and any indication of the intention of the data controller or any other person in respect of the individual.

Details of our company registration are available upon request.

Your Curriculum Vitae
When you register your Curriculum Vitae with Partner Financial Limited it will be made available to our consultants and prospective employers in connection with the recruitment process unless you request otherwise. Should you wish to request a change to our normal CV disclosure processes, please contactemail@partnerfinancial.co.uk

If you would like a list of the companies that we have contacted on your behalf please feel free to contact your consultant.

Sensitive personal data
We collect and process sensitive personal data only so far as is necessary to ensure we conform with legal requirements, such as equal opportunities laws. By registering your details with us, you consent to us collecting and processing any sensitive personal data supplied by you such as details of trade union membership or religious affiliations but only details of ethnic origin will be used for equal opportunities monitoring.

Third parties
The security of your data is extremely important to us. Access to your personal data is only provided to our staff and third parties such as specific software suppliers to Partner Financial Limited, who help us to process data, and to prospective and intended employers in order to help with the recruitment process.

Job Applications
If you have applied for a job through Partner Financial Limited the information you provide will be used to determine your suitability for the position and, if applicable, in determining terms of employment or engagement. It may also be included in management information used to monitor recruitment initiatives and equal opportunities policies. If your application is progressed further, details may be disclosed to third parties (such as educational institutions, present and past employers, employees and directors of Partner Financial Limited, credit reference agencies, etc.) for reasons such as the verification of, or obtaining extra, information. Details may also be disclosed if required by law or for the purposes of Partner Financial Limited business requirements (e.g. to auditors or third party service suppliers).

If your application is unsuccessful, we may try to find you employment with alternative clients and may, therefore, disclose your details to other prospective employers and clients in connection with the recruitment process (which for these purposes includes the process of gaining employment and any ongoing administrative process involved, unless you tell us otherwise.)

Keeping you Informed
In order to keep our records up to date with your precise requirements you may from time to time receive relevant information and reminders from us connected to the service you have requested. This provision of relevant information complies with the processes laid down in The Privacy and Electronic Communications Regulations of 2003. Should you not wish to receive such information and reminders from us please contact email@partnerfinancial.co.uk

Notification of changes
Any changes Partner Financial Limited make to our Privacy Policy will be set out here on this page of the website. If at any time you have questions or concerns about the policy please convey them by emailing email@partnerfinancial.co.uk

Acceptance
You agree that personal information including your CV which is collected by Partner Financial Limited on this website may be used and disclosed for such purposes and to such third parties in accordance with Partner Financial Limited Privacy Statement.

By submitting you personal information including your CV you agree that you have read, understood and accept Partner Financial Limited Privacy Statement.

You also consent to the use, transfer and disclosure of the information referred to throughout this Privacy Policy.

Our Website
a) Privacy
www.partnerfinancial.co.uk is owned and operated by Partner Financial Limited

10 Argyll Street
W1F 7TQ London

Partner Financial Limited strongly believes in the importance of keeping the personal information of visitors to the website private. We will not use your information for any use beyond that stated or the permissions you give us.

b) Cookies
Our website does use cookies. However the cookies do not store personal information, or any information about the computers being used to access the website. The cookies contain only a generated code value that is used by our Web Server to ensure the security of your data and login.

c) IP Addresses and Server Logs
Our website does record IP addresses and produces server logs – as all Web Servers do. This information is used solely for monitoring the volume of traffic the site receives and measuring the number of visitors. We do not use the information for tracking the activities of specific visitors to the site.

d) Security
Partner Financial Limited takes every precaution to protect your personal information. All personal information entered in www.partnerfinancial.co.uk is protected using industry- standard Secure Layer (SSL) Encryption Technology.
  </div>
</div>
