<div class="homepage">
<div class="about-title">
  <h2> Our Services </h2>
</div>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Accounting Support')" id="defaultOpen">Accounting Support</button>
  <button class="tablinks" onclick="openCity(event, 'Audit and financial accounting advisory')">Audit and financial accounting advisory</button>
  <button class="tablinks" onclick="openCity(event, 'Financial process and control review')">Financial process and control review</button>
  <button class="tablinks" onclick="openCity(event, 'Financial reporting design and building')">Financial reporting design and building</button>
  <button class="tablinks" onclick="openCity(event, 'IFRS 16 “Leases” implementation')">IFRS 16 “Leases” implementation</button>
</div>

<div id="Accounting Support" class="tabcontent">
  <h3>Accounting Support</h3>
  <p> We can offer part time temporary support to your finance team in areas including:  </p>
    <br>
    <ul>
      <li> Book Keeping   </li>
      <li> Management accounting  </li>
      <li> Forecasting and budgeting </li>
      <li> Financial accounting  </li>
      <li> Accounts payable  </li>
      <li> Accounts receivable   </li>
    </ul>
</div>

<div id="Audit and financial accounting advisory" class="tabcontent">
  <h3>Audit and financial accounting advisory</h3>
  <p> The annual audit process can be cumbersome for businesses and require a substantial amount of the finance teams time or require expensive temporary contractors to provide support. </p>
    <p> We can provide the following services to reduce the annual audit or financial reporting compliance burden including: </p>
    <ul>
      <li> Statutory account preparation;    </li>
      <li> <strong> Audit readiness </strong> – Working with your finance team prior to the commencement of the audit to ensure the businesses is ready for an audit;  </li>
      <li> <strong> Audit support </strong> – providing support to your finance team in terms of man power during the duration of the audit;</li>
      <li> <strong> Impairment process </strong> – Working with the business to prepare impairment models for the annual goodwill and asset impairment test;  </li>
      <li> <strong> Technical accounting memos </strong>– Preparing technical accounting memo’s for areas of the business which require accounting judgement to be applied; and    </li>
      <li> <strong> Covenant reporting </strong> – Preparing financial statements and completion of covenant compliance certificates as part of the requirements of your business lenders.    </li>
    </ul>
</div>

<div id="Financial process and control review" class="tabcontent">
  <h3>Financial process and control review</h3>
  <p> We can perform a review of the current accounting processes and controls in place within the business and provide recommendations as to how these can be improved and made more efficient.  </p>
</div>

<div id="Financial reporting design and building" class="tabcontent">
  <h3>Financial reporting design and building</h3>
  <p> We can review the current management reporting pack which executives receive and provide an updated reporting package to meet the demands of your executive team. </p>
    <p> We can design and build bespoke financial models including: </p>
    <ul>
      <li> Monthly cash flow statements and cash flow forecasts </li>
      <li> Forecast P&L and Balance Sheets for the annual forecasting cycle </li>
      <li> Monthly P&L and Balance Sheets for use within the monthly management reporting </li>
    </ul>
</div>

<div id="IFRS 16 “Leases” implementation" class="tabcontent">
  <h3>IFRS 16 “Leases” implementation</h3>
  <p> The adoption of IFRS 16 “Leases” will have a profound impact on some business changing significantly the face of their profit or loss and balance sheet alongside key performance indicators and how executives are remunerated. </p>
    <p> Our IFRS 16 implementation guidance will come in the form of a report covering the following areas: </p>
    <ul>
      <li> An outline of the transition options available to you and practical expedients which can be applied. </li>
      <li> Where lease information is available an assessment of the impact each option will have on your financial statements, both on date of adoption and forecast impact for future financial reporting periods. </li>
      <li> Impact of adoption of IFRS 16 on other areas of the annual reporting process including impairment. </li>
      <li> Recommendations of new processes which need to be implemented as a result of adopting IFRS 16.   </li>
      <li> Draft disclosures to include within the annual financial report. </li>
    </ul>
</div>
</div>
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

