.footer {
  background: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 20px;
  color: black;
  bottom: 0px;
}

.footer-left {
  width: 30%;
}

.footer-middle {
  width: 50%;
}


.footer-right {
  width: 20%;

}
.footer-right a {
  color: black;
  opacity: 0.15;
  text-align: center;
  align-items: center;
}

.footer-right a:hover {
  opacity: 1;
}

.footer-middle a {
  color: black;
  padding-right: 10px;
}
