.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.left {
  width: 25%;
}

.middle {
  width: 50%;
  text-align: center;
}

.middle img {
  width: 40px;
}

.right {
  width: 25%;
  text-align: right;
}
